<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>PizzaPalace</title>
</head>
<body>
<div class="container"
	th:object="${ingredient}"
	>
	<div class="row">
		<div class="col-12">
			<h2>Aggiorna le informazioni della tua pizza</h2>
			<form 	
					action="/ingredients/update/" 
					method="POST">
			
				<label>Nome ingrediente</label>
				<input type="text" name="name" th:value="*{name}">
				<label 	style="color: red" 
						th:if="${errors != null && errors.hasFieldErrors('name')}">
					[[ ${errors.getFieldError('name').defaultMessage} ]]
				</label>
				<br>
				<label>Url immagine (opzionale)</label>
				<input type="text" name="imgUrl" th:value="*{imgUrl}">
				<label 	style="color: red" 
						th:if="${errors != null && errors.hasFieldErrors('imgUrl')}">
					[[ ${errors.getFieldError('imgUrl').defaultMessage} ]]
				</label>
				<input class="btn btn-success" type="submit" value="CREA">
			</form>
		</div>
	</div>
</div>
</body>
</html>